<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/create-event.css" rel="stylesheet" />
    <title>Dashboard</title>
  </head>

  <body>
    <header class="dashboard">
      <nav class="sidebar">
        <img src="/img/profile.png" class="logo"/>
        <ul class="nav-list">
          <li><a class="nav-link" href="/dashboard">Profile</a></li>
          <li><a class="nav-link" href="/events">Events</a></li>
          <li><a class="nav-link" href="/search">Search</a></li>
          <li><a class="nav-link active-link" href="/host">Host</a></li>
        </ul>
        <form class="log-out" action="/logout" method="POST">
          <button class="nav-dashboard-btn" id="account-btn">Log Out</button>
        </form>
      </nav>
    </header>
    <div class="event">
      <div class="card">
        <h2>Event Name</h2>
        <ul class="event-info">
          <li class="info" id="eventDate">Date</li>
          <li class="info" id="eventTime">Time</li>
          <li class="info" id="eventAddress">Address</li>
        </ul>
        <h3 class="desc-heading">Event description</h3>
        <div class="desc-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <h3 class="venue">Venue</h3>
        <p class="location">
          The host of this event reserved the <strong>Theater</strong>. <br>Reserve your seats on the right.
        </p>
      <div class="contact">
        <h3 class="contact-heading">Contact Host</h3>
          <ul class="contact-info">
            <li>Host Name</li>
            <li>Phone number</li>
            <li>email@address.com</li>
          </ul>
      </div>
      <div class="theater">
        <ul class="seating">
          <li>
            <div class="seat"></div>
            <small>Available</small>
          </li>
          <li>
            <div class="selected"></div>
            <small>Selected</small>
          </li>
          <li>
            <div class="taken"></div>
            <small>Taken</small>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </body>
</html>