<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="HandheldFriendly" content="true" />
        <title>Touch of Class | Event Management Modernized</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
        <div class="navbar-main-navbar">
            <a class="navbar-logo">Touch of Class</a>
            <div class="links-right">
                <a class="navbar-link" href="#">How it Works</a>
                <a class="navbar-link" href="#">About Us</a>
                <a class="navbar-link" href="#">Contact</a>
            </div>
            <button
                class="navbar-dashboard-btn"
                id="account-btn"
                onclick="window.location.href='/dashboard'"
            >
                <strong>Account ➜</strong>
            </button>
        </div>
        <header>
            <div class="hero-text">
                <h1>
                    Revolutionizing<br />
                    The World of <br />
                    Event Planning
                </h1>
                <p class="hero-desc">
                    Touch of Class's next generation event management system<br />makes
                    it easy for anyone to host a wonderful event. Interested?
                </p>
                <a href="#" class="cta-btn dark"
                    >How it works <strong>↓</strong></a>
                </header>
                <p class="rand0_dummy">
                    Step 1: Create an account for free<br />Step 2: Access the dashboard and view data regarding incoming events or events from your pasts<br />Step 3: Get to Booking your event!
                </p>
                <section class="how-it-works">
                <div class="row">
                    <div class="column">
                      <div class="card">..</div>
                    </div>
                    <div class="column">
                      <div class="card">..</div>
                    </div>
                    <div class="column">
                      <div class="card">..</div>
                    </div>
                  </div>
                </section>
                <section class="contact">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your First name...">

                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your Last name...">

                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" placeholder="Your Address...">

                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Your Email...">

                    <label for="pnumber">Phone Number</label>
                    <input type="text" id="pnumber" name="pnumber" placeholder="Your Phone Number...">

                </section>
    </body>
</html>
