@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  text-decoration: none;
  list-style-type: none;
  font-family: "Lato";
  padding: 0;
  margin: 0;
}

body {
  background: rgb(241, 241, 241);
  display: flex;
}

html {
  overflow: scroll;
}

/******************************/
/* NAVIGATION */
/******************************/

.logo {
  margin-left: 87px;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 50%;
}

.sidebar {
  background: #4739d7;
  height: 100vh;
  width: 250px;
  padding-left: 30px;
  font-size: 20px;
}

.nav-list {
  color: #fff;
}


.nav-link:link,
.nav-link:visited {
  display: block;
  padding: 25px 0;
  padding-left: 35px;
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.2s;
  background: #4739d7;
}

.nav-link:hover,
.nav-link:active {
  background: rgb(241, 241, 241);
  color: #4739d7;
}

.active-link:link,
.active-link:visited {
  background: rgb(241, 241, 241);
  color: #4739d7;
}

.nav-dashboard-btn {
  border-radius: 11px;
  border-color: transparent;
  font-size: 16px;
  background-color: #fff;
  color: #4739d7;
  padding: 5px 10px 7px 10px;
  transition: all 0.2s;
  position: absolute;
  bottom: 20px;
  left: 93px;
}

.nav-dashboard-btn:hover {
  cursor: pointer;
  transition: all 0.4s;
  background-color: #4739d7;
  color: #fff;
}

/* Card and Card's content */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #fff;
  border-radius: 1rem;
  margin-left: 3rem;
  margin-top: 4rem;
  padding: 2rem;
  width: 1000px;
  height: 630px;
}

h2 {
  position: absolute;
  top: 5rem;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #4739d7;
}

.desc-heading {
  position: absolute;
  top: 13rem;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #4739d7;
}

.info {
  color: #878c92;
  font-size: 20px;
  position: absolute;
  left: 23.6rem;
  line-height: 23px;
}

#eventDate {
  position: absolute;
  top: 7.6rem;
}

#eventTime {
  position: absolute;
  top: 9rem;
}

#eventAddress {
  position: absolute;
  top: 10.4rem;
}

.desc-text {
  color: #878c92;
  font-size: 20px;
  position: absolute;
  top: 15rem;
  left: 23.6rem;
  max-width: 400px;
  line-height: 23px;
}

.venue {
  position: absolute;
  top:33rem;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #4739d7;
}

.location {
  position: absolute;
  top: 35rem;
  left: 23.6rem;
  max-width: 400px;
}

.contact-heading {
  position: absolute;
  top:25rem;
  left: 22.5rem;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #4739d7;
}

.contact-info {
  position: absolute;
  top: 27rem;
  left: 23.6rem;
  color: #878c92;
  font-size: 20px;
}